

<form class="form" method="post" enctype="multipart/form-data">
    <input class="form-control" type="file" name="resim"/>
    <button type="submit" class="btn btn-success" style="margin-top: 20px;">Kaydet</button>
</form>