
{% extends 'admin_base.html.twig' %}


{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block content %}
    <!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<h3 class="page-title">WELCOME TO ADMIN PANEL</h3>
				</div>
			</div>
		</div>
		<!-- END MAIN -->
{% endblock %}
