<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello World</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body class="container">
    <!-- <form  class="sell-game-form" method="post" enctype="multipart/form-data">

        <div class="form-group">

            <label for="">Ürün Resim</label>
             <input type="file" name="imagename"  class="form-control">
           </div>

        <button class="btn btn-success" type="submit">Ekle</button>
    </form> -->




    <form class="sell-game-form" method="GET" enctype="multipart/form-data">
   
       
  
  
         <label for="">Ürün Resim</label>
          <input type="file" name="imagename"  class="form-control">
        </div>
  
        <button class="sell-game__btn" type="submit">Kaydet</button>
      </form>
</body>
</html>