<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  {% block stylesheets %}{% endblock %}

</head>

<body>
  {% include 'components/header.html.twig' %}

  <div class="sell-game">
 
    <h2 class="sell-game__title">Eşya Sat</h2>
    <form class="sell-game-form" method="post">
   
      <div class="form-item">
        <label>Kategori Seç</label>
        <select name="sales[category]">
							{% for cat in catList %}
              <option value="{{cat.id}}">{{cat.name}}</option>
							{% endfor %}
        </select>
        <input type="hidden" name="sales[userid]" value="{{app.user.id}}">
      </div>
      
      <div class="form-item">
        <label>Ürün Adı</label>
        
        <input type="text" name="sales[name]" value="">
      </div>
      <div class="form-item">

       <label for="">Ürün Resim</label>
        <input type="file" name="sales[imagename]"  class="form-control">
      </div>

      <div class="form-item">
        <label>Açıklama</label>
        <textarea name="sales[description]" name="" id="" cols="30" rows="5"></textarea>
      </div>
      <div class="form-item">
        <label>Fiyatı</label>
        <input name="sales[price]" type="number" name="price" placeholder="Ürün Fiyatı">
        <input name="sales[status]" type="hidden" name="status" value="true">
      </div>
      <button class="sell-game__btn" type="submit">Kaydet</button>
    </form>

    
  </div>


  {% include 'components/footer.html.twig' %}

  {% block body %}{% endblock %}
  {% block javascripts %}{% endblock %}
</body>

</html>