<ul class="sidebar-content">
    <li><a href="/userpanel">Bilgilerim</a></li>
    <li><a href="/orders">Siparişlerim</a></li>
    <li><a href="/userpanel/edit">Duzenleme</a></li>
    <li><a href="/yorumlarim">Yorumlarım</a></li>
    <li><a href="/shopcart">Sepetim</a></li>
    <li><a href="/urunlerim">Satıştaki Ürünlerim</a></li>
</ul>